@use "../settings/colors" as colors;

@mixin styles() {
  button {
    cursor: pointer;
    border: none;
    font-size: 1em;
    font-weight: 700;
    font-family: inherit;
    background-color: transparent;
    transition: border-color 0.25s;
    padding: 0.7em 1em;

    &:disabled:hover {
      cursor: not-allowed;
    }
  }
  .animated-spin {
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    animation: spin 1s linear infinite;
  }
  .button {
    &__absolute {
      position: absolute;
    }

    &__dark {
      background-color: colors.$primary;

      &:hover {
        background-color: colors.$secondary;
      }
      &:disabled:hover {
        background-color: colors.$primary; // 기본 배경색 유지
      }
    }

    &__light {
      background-color: colors.$secondary;
      color: colors.$white;
      &:hover {
        background-color: colors.$primary;
      }
      &:disabled:hover {
        background-color: colors.$secondary; // 기본 배경색 유지
        color: colors.$white; // 기본 글자색 유지
      }
    }

    &__orange {
      background-color: colors.$orange;
      color: colors.$white;

      &:hover {
        background-color: colors.$orange-hover;
      }
      &:disabled:hover {
        background-color: colors.$orange; // 기본 배경색 유지
        color: colors.$white; // 기본 글자색 유지
      }
    }

    &__white-font {
      color: colors.$white;
      &:disabled:hover {
        color: colors.$white; // 기본 글자색 유지
      }
    }

    &__light-font {
      color: colors.$secondary;

      &:hover {
        color: colors.$primary;
      }
      &:disabled:hover {
        color: colors.$secondary; // 기본 글자색 유지
      }
    }

    &__rounded {
      border-radius: var(--primary__border-radius);
    }
  }
}
