@import "../settings/colors";
@mixin styles() {
  .c-chat {
    width: 100%;
    max-width: var(--container__max-width);
    margin: 0 auto;
    position: relative;

    &__item {
      display: inline-block;
      max-width: 90%;
      padding: 20px 15px;
      border-radius: var(--primary__border-radius);
      clear: both;

      &.incoming {
        background-color: $white;
        justify-content: flex-start;
        padding-left: var(--primary__padding);
        text-align: left;
        float: left;

        &-content {
          color: $secondary;
        }
      }

      &.outgoing {
        background-color: $read;
        justify-content: flex-end;
        padding-right: var(--primary__padding);
        text-align: right;
        float: right;

        &-content {
          color: $secondary;
        }
      }

      &-date {
        color: $secondary;
      }
    }
  }

  .c-chat__icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    padding: 0;
    z-index: 1;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  @media (min-width: 768px) {
    .c-chat__icon {
      right: calc((100% - var(--container__max-width)) / 2 + 20px);
    }
  }
}
