@use "../settings/colors" as colors;
@mixin styles() {
  .c-header {
    display: flex;
    flex-direction: column;
    gap: var(--primary__font-size);
    padding: 18px 16px;
    background-color: #141517;

    --button_height: 30px;

    &__switch {
      label {
        padding: 0.2em 0.5em;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        border: 3px solid #343434;
        border-radius: 20px;
        background: #343434;
        font-weight: bold;
        gap: 1em;
        cursor: pointer;
      }
      label::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0%;
        border-radius: 20px;
        background: #ffffff61;
        transition: all 0.3s;
      }
      input:checked + label::before {
        right: 50%;
      }
      label div {
        padding: 6px;
        text-align: center;
        z-index: 1;
      }
      input {
        display: none;
      }
      input:checked + label span:first-child {
        color: colors.$white;
        transition: color 0.3s;
      }
      input:checked + label span:last-child {
        color: colors.$inactive;
        transition: color 0.3s;
      }
      input + label span:first-child {
        color: colors.$inactive;
      }
      input + label span:last-child {
        color: colors.$white;
        transition: color 0.3s;
      }
    }

    button {
      padding: 0;
    }

    .c-top-bar {
      display: flex;
      justify-content: space-between;
      position: relative;

      &__brand {
        display: flex;
        align-items: center;
        gap: 1em;

        button {
          display: flex;
          align-items: center;
          height: var(--button_height);
        }
      }
    }
  }

  .c-top-bar__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--primary__font-size);

    &-notification {
      display: flex;
      .c-icon {
        width: 22px;
        font-size: 20px;
        color: white;
      }
    }

    &-flex {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    @media (max-width: 600px) {
      display: none;
    }

    @media (min-width: 601px) and (max-width: 1024px) {
      display: flex;
    }

    @media (min-width: 1025px) {
      display: flex;
    }
  }

  .c-top-bar__user.responsive {
    @media (max-width: 600px) {
      display: flex;
    }

    @media (min-width: 601px) and (max-width: 1024px) {
      display: none;
    }

    @media (min-width: 1025px) {
      display: none;
    }
  }
  .c-top-bar__user-aside {
    display: inline-block;
    position: absolute;
    background-color: #141517;
    height: 100vh;
    width: 30%;
    right: 0;
    top: 0;
    z-index: 10;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgb(3 0 0);
    text-align: right;
    &-wrapper {
      gap: 1em;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
