@mixin styles() {
  .c-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 18px 16px;
    background-color: #141517;
  }

  .c-top-bar {
    display: flex;
    justify-content: space-between;
  }

  .c-top-bar-user {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__notification {
      display: flex;

      .c-icon {
        font-size: 20px;
        color: white;
      }
    }
  }
}
