@mixin styles() {
  .home__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px;
    overflow-y: scroll;
    background-color: var(--main__background-color);

    position: relative;
  }

  .home__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #838383;
  }

  .body__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
