@use "../settings/colors" as colors;

@mixin styles() {
  .c-icon {
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 48;
    color: colors.$tooltip;
    user-select: none;

    &,
    &--rounded {
      @extend .material-symbols-rounded;
    }

    &--fill {
      font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 48;
    }

    &--bold {
      font-variation-settings:
        "FILL" 1,
        "wght" 700,
        "GRAD" 0,
        "opsz" 48;
    }

    &--fill-success {
      font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 48;
      color: colors.$success;
    }
    &--fill-warning {
      font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 48;
      color: colors.$warning;
    }

    &--fill-fail {
      font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 48;
      color: colors.$warning;
    }
  }
}
