@mixin styles() {
  .modal {
    left: 0;
    top: 0;
    z-index: 999;
    height: auto;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    height: 100dvh;
    background-color: #000000a3;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  .modal__content {
    border-radius: 16px 16px 16px 16px / 16px 16px 16px 16px;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .modal__close {
    z-index: 2;
    right: 1rem;
    font-size: 2rem;
    top: 0.5rem;
    position: absolute;
  }
}
