@mixin styles() {
  .result__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    gap: 1em;
  }

  .result__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden; /* 자식 요소가 넘치지 않게 */

    & img {
      height: 100%;
    }

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    &:hover::before {
      background-color: rgba(0, 0, 0, 0.7); /* Darker background on hover */
    }
  }

  .c-result__emtpy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
