@import "../settings/colors";

@mixin styles() {
  .result__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    gap: 1em;
  }

  .result__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    border-radius: calc(var(--primary__font-size) / 2);
    overflow: hidden;
    position: relative;

    & img {
      height: 100%;

      &:hover {
        transform: scale(1.05);
      }
    }

    &:hover {
      cursor: pointer;
    }

    &-copy {
      z-index: 1;
      opacity: 0.8;
      border-radius: 8px;
      width: calc(var(--primary__font-size) * 2.25);
      height: calc(var(--primary__font-size) * 2.25);
      top: calc(var(--primary__font-size) / 2);
      right: calc(var(--primary__font-size) / 2);
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      background-color: $white;
      .c-icon {
        font-size: 1.5em;
      }
    }
  }

  .c-result__emtpy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
