@use "sass:math";

@mixin styles() {
  .c-input {
    --c-input-input-height: 40px;
    --c-input-front-icon-size: calc(var(--c-input-input-height) * 0.5);
    --c-input-front-icon-padding: calc(var(--c-input-front-icon-size) * 0.5);
    --c-input-input-indent: calc(var(--c-input-front-icon-size) + var(--c-input-front-icon-padding) * 2);

    display: flex;
    position: relative;

    &__icon {
      padding: 0;
      position: absolute;
      height: 100%;
      width: var(--c-input-input-indent);
      display: flex;
      align-items: center;
      justify-content: center;

      &--back {
        right: 0;
      }

      > .c-icon {
        font-size: var(--c-input-front-icon-size);
        line-height: 1;
        color: #9e9ea7;
      }
    }

    &__input {
      height: var(--c-input-input-height);
      width: 100%;
      text-indent: var(--c-input-input-indent);
      border: 2px solid transparent;
      border-radius: 8px;
      outline: none;
      background-color: #f3f3f4;
      color: #0d0c22;
      transition: 0.3s ease;

      &::placeholder {
        color: #9e9ea7;
      }

      &:focus,
      &:focus,
      &:hover {
        outline: none;
        border-color: rgba(0, 48, 73, 0.4);
        background-color: #fff;
        box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
      }
    }
  }
}
