@use "../settings/colors" as colors;

@mixin styles() {
  .c-tooltip {
    position: absolute;
    z-index: auto;
    background: colors.$tooltip;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.98;
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }

    p {
      color: colors.$white;
      margin: 0;
    }

    i {
      color: colors.$white;
      font-size: 1.2rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
