@use "../settings/colors" as colors;

@mixin styles() {
  .c-tooltip {
    position: absolute;
    z-index: auto;
    background: colors.$tooltip;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.98;
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }

    p {
      color: colors.$white;
      margin: 0;

      @media (max-width: 600px) {
        font-size: calc(var(--primary__font-size) *0.85);
      }

      // 중간 화면 (태블릿)
      @media (min-width: 601px) and (max-width: 1024px) {
        font-size: calc(var(--primary__font-size) * 1);
      }

      // 큰 화면 (데스크탑)
      @media (min-width: 1025px) {
        font-size: calc(var(--primary__font-size) * 1.1);
      }
    }

    i {
      color: colors.$white;
      font-size: 1.2rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
