.header__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 18px 16px;
}

.header__containe-top {
  display: flex;
  justify-content: space-between;
}

.header__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
