.home__main {
  padding: 16px;
}

.home__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #838383;
}

.body__container {
  width: 600px;
  background-color: salmon;
}
