.logo__button {
  background-color: #fff;
}

.home__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #838383;
}
.home__main {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;

  & section:nth-child(2) {
    width: 50%;
  }
}
