.modal {
  width: 480px;
  height: 621px;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
}
