@use "../settings/colors" as colors;

@mixin styles() {
  .c-login {
    --c-login-login-height: 35px;
    --c-login-front-icon-size: calc(var(--c-login-login-height) * 0.5);
    --c-login-front-icon-padding: calc(var(--c-login-front-icon-size) * 0.5);
    --c-login-login-indent: 16px;

    display: flex;
    position: relative;
    flex-direction: column;
    // gap: var(--primary__padding);
    gap: calc(var(--primary__padding) * 2);

    .message {
      margin: 0;
      text-align: center;
      color: colors.$warning;
    }

    &__section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      &-password {
        display: flex;
        flex-direction: column;
        gap: 0.8em;

        input {
          width: 100%;
          width: 100%;
        }
      }

      &-verification {
        display: flex;
        gap: 0.8em;
        align-items: stretch;

        & > div {
          flex-grow: 2;
        }
        input {
          width: 100%;
        }

        button {
          flex-shrink: 0;
          color: colors.$white;
        }
      }

      &-timer {
        position: absolute;
        right: var(--primary__font-size);
        color: colors.$orange;
        font-weight: 700;
      }

      &-relative {
        position: relative;
        display: flex;
        align-items: center;
      }
    }

    &__icon {
      padding: 0;
      position: absolute;
      height: 100%;
      width: var(--c-login-login-indent);
      display: flex;
      align-items: center;
      justify-content: center;

      &--back {
        right: 0;
      }

      > .c-icon {
        font-size: var(--c-login-front-icon-size);
        line-height: 1;
        color: #9e9ea7;
      }
    }

    &__input {
      padding: 1.5em 0;
      height: var(--c-login-login-height);
      text-indent: var(--c-login-login-indent);
      border: 2px solid transparent;
      border-radius: 8px;
      outline: none;
      background-color: #f3f3f4;
      color: #0d0c22;
      transition: 0.3s ease;
      border: 2px solid colors.$secondary;
      width: 100%;

      &::placeholder {
        color: colors.$secondary;
      }

      &:focus,
      &:focus,
      &:hover {
        outline: none;
        border-color: rgba(0, 48, 73, 0.4);
        background-color: colors.$white;
        box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
      }

      &.success {
        border-color: colors.$success;
      }

      &.fail {
        border-color: colors.$warning;
      }
    }

    &__button-section {
      gap: 1.5em;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      &-message {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        p {
          margin: 0;
        }
      }

      &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        button {
          padding: 0;
          text-decoration: underline;
        }
        p {
          margin: 0;
        }
      }
      &-center {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        button {
          padding: 0;
        }
        p {
          margin: 0;
        }
      }
    }

    &__message {
      margin: 0;
      text-align: center;
    }

    .c-icon--fill-success {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      font-size: 20px;
    }

    label {
      display: none;
    }
  }
}
