@use "../settings/colors" as colors;

@mixin flex-style {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1em;
}

@mixin styles() {
  .c-mypage {
    padding-top: 2rem;
    @include flex-style;

    &__info {
      color: colors.$primary;
      font-weight: 500;
      @include flex-style;
      p,
      h2 {
        margin: 0;
      }
    }
    &__buttons {
      @include flex-style;

      button {
        padding: 0;
        display: flex;
        justify-content: space-between;

        &:last-child {
          text-decoration: underline;
          text-underline-offset: 0.3em;
          opacity: 0.6;
        }
      }

      i {
        font-size: 20px;
      }
    }
  }
}
