@use "../settings/colors" as colors;

@mixin icon-style() {
  z-index: 1;
  opacity: 0.8;
  border-radius: var(--primary__border-radius);
  width: calc(var(--primary__font-size) * 2.25);
  height: calc(var(--primary__font-size) * 2.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: colors.$white;
  .c-icon {
    font-size: 1.5em;
    &:hover {
      color: colors.$warning;
    }
  }
}

@mixin styles() {
  .result__section {
    display: grid;
    grid-template-columns: var(--primary__grid-column);
    grid-auto-rows: var(--primary__grid-row);
    gap: var(--primary__item-gap);
  }

  .result__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--primary__item-height);
    border-radius: var(--primary__border-radius);
    overflow: hidden;
    position: relative;
    background-color: var(--primary__color);

    & img {
      width: 100%;

      &:hover {
        transition: 0.3s ease;
        transform: scale(1.5);
      }
    }

    &:hover {
      cursor: pointer;
    }

    &-copy {
      right: calc(var(--primary__font-size) / 2);
      top: calc(var(--primary__font-size) / 2);

      @include icon-style();
    }
    &-download {
      bottom: calc(var(--primary__font-size) / 2);
      right: calc(var(--primary__font-size) / 2);

      @include icon-style();
    }

    &-favorite {
      left: calc(var(--primary__font-size) / 2);
      top: calc(var(--primary__font-size) / 2);
      @include icon-style();
    }
  }

  .c-result__emtpy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    img {
      width: calc(var(--primary__font-size) * 23);
    }
  }
}
