@use "../settings/colors" as colors;
@use "../components/_icon" as icon;

@mixin styles() {
  .result__section {
    display: grid;
    grid-template-columns: var(--primary__grid-column);
    grid-auto-rows: var(--primary__grid-row);
    gap: var(--primary__item-gap);
  }

  .result__item {
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--primary__item-height);
    border-radius: var(--primary__border-radius);
    overflow: hidden;
    position: relative;
    aspect-ratio: 1 / 1;
    height: 100%;
    &-copy {
      width: calc(var(--primary__font-size) * 1.75);
      height: calc(var(--primary__font-size) * 1.75);
      right: calc(var(--primary__font-size) / 2);
      top: calc(var(--primary__font-size) / 2);

      @include icon.icon-style();
      i {
        &:hover {
          color: colors.$black;
        }
      }
    }

    &-download {
      bottom: calc(var(--primary__font-size) / 2);
      right: calc(var(--primary__font-size) / 2);
      width: calc(var(--primary__font-size) * 2);
      height: calc(var(--primary__font-size) * 2);
      @include icon.styles();
      @include icon.icon-style();
      i {
        &:hover {
          color: colors.$black;
        }
      }
    }

    &-favorite {
      left: calc(var(--primary__font-size) / 2);
      top: calc(var(--primary__font-size) / 2);
      width: calc(var(--primary__font-size) * 1.75);
      height: calc(var(--primary__font-size) * 1.75);
      z-index: 1;
      opacity: 0.8;
      border-radius: var(--primary__border-radius);
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      justify-content: center;
      .c-icon {
        font-size: 1.5em;
        color: colors.$warning;
      }
    }

    & img {
      width: 100%;
      border-radius: 8px;
      &:hover {
        transition: 0.3s ease;
        transform: scale(1.05);
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .c-result__emtpy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    img {
      width: calc(var(--primary__font-size) * 23);
    }
  }
}
