@use "../settings/colors" as colors;

@mixin styles() {
  .c-upload {
    display: flex;
    gap: calc(var(--primary__padding) * 2);
    margin-top: var(--primary__font-size);
    flex-direction: column;
    .file-upload {
      margin-top: var(--primary__padding);
      margin-bottom: var(--primary__padding);
      background-color: colors.$white;
      padding: calc(var(--primary__padding) * 2);
      border-radius: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow:
        rgba(0, 0, 0, 0.24) 0px 10px 20px,
        rgba(0, 0, 0, 0.28) 0px 6px 6px;
      gap: calc(var(--primary__font-size) * 2);
      position: relative;
      &__delete {
        padding: 0;
        width: calc(var(--primary__font-size) * 3);
        right: calc(var(--primary__font-size) * 2);
        top: var(--primary__font-size);
        background: colors.$primary;
        position: absolute;
        border-radius: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0.5;
        .c-icon {
          font-size: calc(var(--primary__font-size) * 2);
          color: colors.$white;
        }
      }
      &__icon {
        font-size: 2.625em;
        padding-top: var(--primary__padding);
      }

      &__input {
        display: none;
      }

      &__preview {
        max-width: 100%;
      }

      &__area {
        // border: 2px dashed colors.$primary;
        border-radius: 40px;
        width: 350px;
        text-align: center;
        overflow: hidden;
        .upload-icon {
          font-size: 50px;
        }

        .browse-files-text {
          color: colors.$primary;
          font-weight: bolder;
          cursor: pointer;
        }

        .default-file-input {
          opacity: 0;
        }
      }
      &__button {
        background-color: colors.$primary;
        color: #f7fff7;
        display: flex;
        align-items: center;
        font-size: calc(var(--primary__font-size) + 2);
        border: none;
        border-radius: 20px;
        padding: 7.5px 50px;
        cursor: pointer;
      }
    }
    .file-tag {
      outline: none;
      border: 2px solid colors.$primary;
      border-radius: 5px;
      transition: all 0.2s;
      cursor: text;
      display: flex;
      align-items: center;
      position: relative;

      &.active {
        border: 2px solid colors.$primary;
      }

      &__label {
        position: absolute;
        margin-left: var(--primary__padding);
        color: colors.$primary;
        transition: all 0.1s;
      }
      &__label.active {
        top: -11px;
        color: colors.$primary;
        font-size: 13px;
        background-color: var(--primary__background-color);
      }
      &__input {
        padding: 0.5rem;
        outline: none;
        border: none;
        margin-left: 0.5rem;
        background: transparent;
        font-size: 20px;
        color: colors.$primary;
      }
    }
  }
}
